{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": ["import", "eslint-plugin-prettier"],
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "react-app"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "warn",
    "no-eval": "error",
    "import/first": "error"
  }
}
