body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #f2f4f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.header {
  padding-top: 60px;
  color: #695ee8;
  font-size: 3em;
  border-radius: 5px 5px 0 0;
  width: 800px;
}

.contact-list {
  border-radius: 10px;
  list-style-type: none;
  background-color: white;
  width: 800px;
  padding: 50px;
}

.contact {
  height: 80px;
  background-color: #695ee8;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  border: 2px solid gray;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 10px;
}

.contact-name-phone-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

::placeholder {
  color: white;
}

.formInput,
button:disabled {
  background-color: #695ee8;
  border: none;
  color: white;
  width: 32%;
}

.contact-name {
  font-size: 1.2em;
  font-weight: 500;
  padding-right: 20px;
}

.contact-phone {
  font-size: 1.2em;
  font-weight: 400;
}

.addButton {
  height: 60px;
  width: 60px;
  font-size: 3em;
  color: white;
  border: none;
  border-radius: 50px;
  background-color: #695ee8;
}

.contact-buttons {
  /* margin-left: 30px; */
  display: flex;
}

.auxiliar-button {
  height: 60px;
  width: 60px;
  font-size: 1em;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  margin: 0 20px 0 0;
  background-color: transparent;
}
